@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.nav-icons {
  &__list-item {
    margin: $medium;
  }

  &__menu-icon {
    width: 4rem;
    margin-bottom: $small;
  }

  &__button {
    all: unset;
    width: 100%;
    cursor: pointer;
    @include flex(column, center, center);
    color: $light;
    text-shadow: 1px 1px $base-dark;

    &:hover {
      background-color: $accent-color;
      color: $light;
    }
  }
}
