@use "./colours" as *;
@use "./variables" as *;

@mixin button {
  all: unset;
  background-color: $base;
  box-shadow: inset -1px -1px $shadow-dark, inset 1px 1px $shadow-light,
    inset -2px -2px $shadow-mid, inset 2px 2px $shadow-mid-light;
  text-shadow: 0 0 $text-shadow-dark;

  &:active {
    box-shadow: inset -1px -1px $shadow-light, inset 1px 1px $shadow-dark,
      inset -2px -2px $shadow-mid-light, inset 2px 2px $shadow-mid-light;
  }

  &:focus {
    outline: 1px dotted $dark;
    outline-offset: -4px;
  }
}

@mixin button__taskbar--active {
  box-shadow: inset -1px -1px $shadow-light, inset 1px 1px $shadow-dark,
    inset -2px -2px $shadow-mid-light, inset 2px 2px $shadow-mid-light;
  font-weight: bold;
  background-color: $light-accent;
}
