$background: #008080;
$accent-color: #000080;
$accent-color-light: #1084d0;
$base: #c0c0c0;
$base-light: #f4f4f4;
$base-dark: #4e4e4e;
$light: #fff;
$dark: #000;
$live: #f21313;

//Shadow related colour variables
$shadow-dark: #000;
$shadow-light: #fff;
$shadow-mid: #808080;
$shadow-mid-light: #dfdfdf;
$text-shadow-dark: #222;
$light-accent: #f0f8ff;
