@use "./colours" as *;
@use "./mixins" as *;
@use "./responsive" as *;

@mixin gui_base {
  box-shadow: inset 1px 0 $light;
  background-color: $base;
  border-top: 1px solid $base-light;
  border-bottom: 1px solid $base-dark;
  box-shadow: inset -1px -1px $button-shadow-dark,
    inset 1px 1px $button-shadow-mid-light, inset -2px -2px $button-shadow-mid,
    inset 2px 2px $button-shadow-light;
}

@mixin gui_box_inset {
  box-shadow: inset -1px -1px $button-shadow-mid-light,
    inset 1px 1px $button-shadow-mid;
}

@mixin gui_window_base {
  width: 80vw;
  max-width: $max-content;
  height: 85vh;
  margin: 2rem auto 0;
  padding: 1px;
}

@mixin gui_window_title {
  @include flex(null, space-between, center);
  background: linear-gradient(90deg, $accent-color, $accent-color-light);
  padding: 3px 2px 3px 3px;
  margin: 2px;
  color: $light;
}
