.app-button {
  all: unset;
  background-color: var(--system-ui-primary);
  cursor: pointer;
  box-shadow:
    inset -1px -1px var(--system-ui-shadow-dark),
    inset 1px 1px var(--system-ui-shadow-light),
    inset -2px -2px var(--system-ui-shadow-dark-accent),
    inset 2px 2px var(--system-ui-shadow-light-accent);
  text-shadow: 0 0 var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  width: 12rem;
  overflow: hidden;
  margin: 0 0.1rem 0 0.1rem;
}

.app-button:focus {
  outline: 1px dotted var(--dark);
  outline-offset: -4px;
}
.app-button:active {
  box-shadow:
    inset -1px -1px var(--system-ui-shadow-light),
    inset 1px 1px var(--system-ui-shadow-dark),
    inset -2px -2px var(--system-ui-shadow-dark-accent),
    inset 2px 2px var(--system-ui-shadow-light-accent);
  font-weight: 700;
  background-color: var(--system-ui-button-focus);
}

.icon {
  width: 2rem;
  margin-right: 0.5rem;
}
