.app {
  all: unset;
  background-color: silver;
  cursor: pointer;
  box-shadow:
    inset -1px -1px #000,
    inset 1px 1px #fff,
    inset -2px -2px gray,
    inset 2px 2px #dfdfdf;
  text-shadow: 0 0 #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.1rem 0 0.1rem;
}

.app:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}
.app:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #000,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #dfdfdf;
  font-weight: 700;
  background-color: #f0f8ff;
}

.icon {
  width: 2rem;
  margin-right: 0.5rem;
}
