@use "../../styles/_partials/resets";
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.contact {
  width: 95%;
  margin: $small auto 0;
  font-size: $medium-half;

  @include tablet {
    width: 80%;
    font-size: $medium;
    @include flex(null, center, center);
  }
}

.form {
  &__fieldset {
    @include flex(column);
  }

  &__name-input,
  &__email-input,
  &__message-input {
    @include gui_input;
    padding: $small-half;
    font-size: $medium-half;
    margin: $small-half 0;
  }

  &__message-input {
    resize: none;
    padding-bottom: $large;
  }

  &__send {
    @include button;
    padding: $small;
    text-align: center;
  }
}
