@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.explorer {
  @include gui_box_inset;
  background-color: $light;
  background: linear-gradient(150deg, $cloud 10%, $light 50%);
  padding: $small-half;

  &__container {
    @include flex(null, null, center);
    margin-bottom: $small;
  }
  &__image {
    width: $large;
    margin-right: $small;
  }
  &__title {
    font-size: 1.6rem;
    margin: 0;
  }
}

.tech-details {
  &__list {
    display: inline;
    padding: 0;
    list-style-type: none;
    @include gui_box_inset;
    background-color: $light;
  }
  &__item {
    display: inline;
  }

  &__title {
    display: inline;
  }
}

.project-info {
  &__text {
    margin-bottom: 0;
  }
}
