@use "../../styles/_partials/resets";
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;

.window {
  @include gui_base();
  @include gui_window_base;

  &__title-bar {
    @include gui_window_title;
  }

  &__title-img-wrapper {
    @include flex(null, null, center);
  }
  &__title {
    font-size: 1.75rem;
    margin: 0;
    margin-left: 0.5rem;
  }

  &__icon {
    width: 1.75rem;
  }
}
