:root {
  --system-ui-primary: #c0c0c0;
  --system-ui-notification-bg: #ece9d8;

  --system-ui-shadow-dark: #000;
  --system-ui-shadow-light: #fff;
  --system-ui-shadow-light-accent: #dfdfdf;
  --system-ui-shadow-dark-accent: gray;
  --system-ui-button-focus: #f0f8ff;

  --desktop-background: #008080;
  --dark: #000;
  --light: #fff;
}
