:root {
  --system-ui-primary: #c0c0c0;
  --system-ui-notification-bg: #ece9d8;

  --system-ui-shadow-left-top: #000;
  --system-ui-shadow-right-bottom: #fff;
  --system-ui-shadow-left-top-accent: #dfdfdf;
  --system-ui-shadow-right-bottom-accent: gray;
  --system-ui-active-app-bg: #f0f8ff;

  --desktop-background: #008080;
  --dark: #000;
  --light: #fff;
}
