@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.taskbar {
  @include flex(null, flex-start, center);
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $base;
  border-top: 1px solid $base-light;
  border-bottom: 1px solid $base-dark;

  &__start {
    @include button;
    @include flex();
    margin-left: $tiny * 2;
    padding: $small-half;
  }

  &__start-icon {
    width: 2rem;
    margin-right: $small-half;
  }

  &__tasks {
    @include flex();
  }

  &__time {
    margin-left: auto;
  }

  &__clock {
    @include gui_box_inset;
    margin: 0;
    margin-right: $tiny * 3;
    padding: $small-half + $tiny;
  }
}
