@use "../../styles/_partials/resets";
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.taskbar {
  @include flex(null, space-between, center);
  height: 4rem;
  background-color: $base;
  border-top: 1px solid $base-light;
  border-bottom: 1px solid $base-dark;

  &__start {
    @include button;
    @include flex();
    margin-left: $tiny * 2;
    padding: $small-half;
  }

  &__start-icon {
    width: 2rem;
    margin-right: $small-half;
  }

  &__time {
  }
  &__clock {
    @include gui_box_inset;
    margin-right: $tiny * 3;
    padding: $small-half + $tiny;
  }
}
