@use "../../assets/styles/_partials/resets";
@use "../../assets/styles/_partials/colours" as *;
@use "../../assets/styles/_partials/responsive" as *;
@use "../../assets/styles/_partials/mixins" as *;
@use "../../assets/styles/_partials/gui" as *;
@use "../../assets/styles/_partials/buttons" as *;

.taskbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  @include gui_base;

  &__start {
    @include button;
  }
}
