@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/colours" as *;

.cv {
  width: 95%;
  margin: 0 auto;
  @include tablet {
    width: 85%;
  }

  &__text {
    &--disclaimer {
      font-size: $small;
    }
  }

  &__highlight {
    font-weight: bold;
    font-style: italic;
  }
}

.cv-form {
  padding-bottom: $large;
  &__input {
    @include gui_input;
    padding: $small-half;
    font-size: $medium-half;
    margin: $small-half 0;
  }

  &__submit {
    @include button;
    padding: $small;
    text-align: center;
    cursor: pointer;
  }

  &__fieldset {
    border: 1px solid $base-light;
    @include flex(column);
  }
}
