$background: #008080;
$base: #c0c0c0;
$base-light: #f4f4f4;
$base-dark: #4e4e4e;
$light: #fff;
$dark: #000;

//Button related colour variables
$button-shadow-dark: #000;
$button-shadow-light: #fff;
$button-shadow-mid: #808080;
$button-shadow-mid-light: #dfdfdf;
$text-shadow-dark: #222;
