@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;

.nav-icons {
  display: none;

  @include tablet {
    display: block;
  }

  &__list {
    padding: 0;
    list-style-type: none;
  }
}
