@use "../../assets/styles/_partials/colours" as *;
@use "../../assets/styles/_partials/responsive" as *;

.nav-icons {
  display: none;
  border: 1px solid black;
  @include tablet {
    display: block;
  }
}
