html {
  scroll-behavior: smooth;
}
.ocado {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}
.nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  // margin-bottom: 15vh;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &__list {
    margin: 0;
    list-style-type: none;
  }
  &__list-item {
    display: inline;
    margin-right: 1rem;
  }
  &__link {
    text-decoration: none;
    color: #414446;
    font-size: 1.8rem;
    margin: 1rem;
    font-weight: 400;

    &:hover {
      color: #000;
      text-shadow: 1px 1px 1px #414446;
    }
  }
  &__image {
    width: 8rem;
  }
}
.section {
  // padding-top: 12rem; /* Adjust this value based on the height of your nav */
  // margin-top: -12rem; /* Adjust this value based on the height of your nav */
  min-height: 85vh;
  color: #414446;
  font-family: "Helvetica Neue", sans-serif;
  &__container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  &__title {
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
    padding-top: 3rem;
    // box-shadow: 1px 1px 5px #414446;
    text-shadow: 1px 1px 0px #414446;
  }
  &__sub-title {
    width: 60%;
    text-shadow: 1px 1px 0px #414446;
    font-size: 6rem;
    margin: 0;
    margin-left: 2rem;
  }

  &__description {
    width: 60%;
  }
  &__image {
    position: absolute;
    right: 10%;
    top: 10rem;
    width: 25rem;
    z-index: 1;
    border-radius: 8px;
    border: 2px solid #4d216d;
  }
}
.intro {
  background: url(/images/ocado/pepper.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}

.question-1 {
  background: url(/images/ocado/mission.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
  color: #fff;
}

.question-2 {
  background: url(/images/ocado/clementine.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}

.question-3 {
  background: url(/images/ocado/spring-onion.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}

.question-4 {
  background: url(/images/ocado/cherry.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}

.end {
  background: url(/images/ocado/berries.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}

.szh-accordion {
  background-color: #fff;
  border-radius: 8px;
  width: 50%;
  &__item {
    &-btn {
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding-left: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      text-align: left;
      color: #4d216d;
      border: none;
      &:hover {
        background-color: #f3f3f3;
      }
    }

    &-content {
      transition: height 0.25s cubic-bezier(0, 0, 0, 1);
      color: #414446;
    }

    &-panel {
      padding: 1rem;
    }

    &--expanded {
      .szh-accordion__item-btn {
        background-color: transparent;
      }
      .chevron-down {
        transform: rotate(180deg);
      }
    }
  }
}
