@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.start {
  position: absolute;
  bottom: 4rem;
  left: 1px;
  @include flex();
  @include gui_base;
  border-bottom: 1px solid $dark;
  border-right: 1px solid $dark;
  border-left: 1px solid $light;
  border-top: 1px solid $light;
  box-shadow: inset 1px 1px $base-dark;

  &--hidden {
    display: none;
  }

  &__title-wrapper {
    @include flex(column-reverse, center, center);
    background: linear-gradient(360deg, #0000ff, #000080);
    width: 5rem;
    margin-bottom: 1px;
  }

  &__logo {
    width: 5rem;
    padding: 0.5rem;
  }
  &__title {
    rotate: 180deg;
    writing-mode: vertical-lr;
    color: $light;
    padding-bottom: $small;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include flex(column, space-between);
  }

  &__list-item {
    margin: 0.1rem;
    padding-right: $small-half;
  }

  &__menu-icon {
    width: 4rem;
    margin-right: 1rem;
  }

  &__button {
    all: unset;
    width: 100%;
    cursor: pointer;
    @include flex(null, null, center);
    padding-right: $small-half;

    &:hover {
      background-color: $accent-color;
      color: $light;
    }
  }
}
