@use "../../assets/styles/_partials/gui" as *;
@use "../../assets/styles/_partials/colours" as *;

.start {
  position: absolute;
  bottom: 4rem;
  border: 1px solid black;
  display: flex;
  @include gui_base;

  &__title-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: linear-gradient(360deg, #0000ff, #000080);
    width: 5rem;
  }

  &__logo {
    width: 5rem;
    padding: 0.5rem;
  }
  &__title {
    rotate: 180deg;
    writing-mode: vertical-lr;
    color: $light;
  }
  &--hidden {
    display: none;
  }

  &__list {
    margin: 0.25rem;
    padding: 0;
    list-style-type: none;
  }

  &__list-item {
    margin: 0 0.25rem;
  }

  &__menu-icon {
    width: 4rem;
    margin-right: 1rem;
  }

  &__button {
    all: unset;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      background-color: $accent-color;
      color: $light;
    }
  }
}
