@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.about {
  width: 95%;
  margin: $small-half auto;
  text-align: center;
  font-size: $medium-half;

  @include tablet {
    @include flex(null, space-around, center);
    width: 85%;
  }

  &__side {
    @include tablet {
      width: 60%;
    }
  }
  &__image {
    max-width: 35%;
    @include tablet {
      max-width: $large * 6;
    }
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: $small-half 0;
    @include tablet {
      margin: $small 0;
    }
  }

  &__skills {
    @include flex(null, center, null, wrap);
  }

  &__skill {
    width: 9rem;
    text-align: center;
    @include tablet {
      width: 10rem;
    }
  }

  &__skill-icon {
    width: 4rem;
    @include tablet {
      width: 5rem;
    }
  }

  &__skill-title {
    text-align: center;
    margin: $small-half;
  }
}
