@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;

.about {
  width: 95%;
  margin: $small auto 0;
  text-align: center;
  font-size: $medium-half;

  @include tablet {
    width: 80%;
    font-size: $medium;
    @include flex(null, center, center);
  }

  &__image {
    width: 35%;
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: $small 0;
  }

  &__skills {
    @include flex(null, center, null, wrap);
  }

  &__skill {
    width: 9rem;
    text-align: center;
  }

  &__skill-icon {
    width: 4rem;
  }

  &__skill-title {
    text-align: center;
    margin: $small-half;
  }
}
