@use "../../styles/_partials/resets";
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;

.window {
  @include gui_base();
  @include gui_window_base;

  &__title-bar {
    @include gui_window_title;
  }

  &__title-img-wrapper {
    @include flex(null, null, center);
  }
  &__title {
    font-size: 1.75rem;
    margin: 0;
    margin-left: 0.5rem;
  }

  &__icon {
    width: 1.75rem;
  }
  &__button-close {
    @include gui_base;
    @include button;
    padding: 0.1rem 0.375rem;
    color: $dark;
  }

  &__control-btns {
    width: 80%;
    margin: 0 auto;
  }
}

.about {
  width: 80%;
  margin: 0 auto;

  @include flex(null, center, center);
  &__image {
    width: 35%;
  }

  &__title {
    margin: 1rem 0;
  }
  &__text {
    margin: 1rem 0;
  }

  &__skills {
    @include flex(null, baseline, null, wrap);
  }
  &__skill {
    width: 9rem;
    text-align: center;
  }
  &__skill-icon {
    width: 4rem;
  }

  &__skill-title {
    text-align: center;
    margin: 0.5rem;
  }
}
