@use "./styles/_partials/resets";
@use "./styles/_partials/colours" as *;
@use "./styles/_partials/responsive" as *;
@use "./styles/_partials/mixins" as *;

body {
  background-color: $background;
  font-family: Tahoma, sans-serif;
}

.desktop-container {
  position: relative;
  @include flex();
}
