@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/colours" as *;
@use "../../styles/_partials/responsive" as *;
@use "../../styles/_partials/gui" as *;
@use "../../styles/_partials/buttons" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/animations" as *;

.links {
  &__fieldset {
    @include flex(column, space-around);
    border: 1px solid $base-light;
  }

  &__btn,
  &__live {
    @include button;
    padding: $small-half;
    margin-bottom: $small-half;
    cursor: pointer;
  }

  &__github {
    @include flex(null, space-around);
  }

  &__btn {
    width: 100%;
    @include flex(null, null, center);
    &--disabled {
      color: $base-dark;
      text-shadow: 1px 1px 0 $light;
      pointer-events: none;
    }
  }

  &__link-img {
    width: $medium;
    margin-right: $small-half;
  }

  &__live {
    text-align: center;
    margin-bottom: 0;
    @include flex(null, center, center);
  }

  &__live-pulse {
    width: $medium-half;
    height: $medium-half;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    background-color: $base-dark;
    margin-right: $small-half;

    &--enabled {
      background-color: $live;
      animation: pulse-animation 2s infinite;
    }
  }
}
