.start-button {
  all: unset;
  background-color: var(--system-ui-primary);
  cursor: pointer;
  box-shadow:
    inset -1px -1px var(--system-ui-shadow-dark),
    inset 1px 1px var(--system-ui-shadow-light),
    inset -2px -2px var(--system-ui-shadow-dark-accent),
    inset 2px 2px var(--system-ui-shadow-light-accent);
  text-shadow: 0 0 var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.start-button:active {
  box-shadow:
    inset -1px -1px var(--system-ui-shadow-light),
    inset 1px 1px var(--system-ui-shadow-dark),
    inset -2px -2px var(--system-ui-shadow-dark-accent),
    inset 2px 2px var(--system-ui-shadow-light-accent);
}

.start-button:focus {
  outline: 1px dotted var(--dark);
  outline-offset: -4px;
}
.start-icon {
  width: 2rem;
  margin-right: 0.5rem;
}
